@{
    ViewBag.Title = "Bienvenido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Bienvenido a nuestra aplicación</h1>
        <p>Gracias por visitarnos. Esperamos que tengas una gran experiencia aquí.</p>
    </div>
</body>
</html>

